/.vscode
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
results
HTML/
npm-debug.log
bower_components
obj/
.idea/
bin/
node_modules/
*.xml
!sitemap.xml
.env
*.map
.happypack/
*.map
!bundle.js.gz
!bundle.js.map

.happypack/cache--jsx.json
.serverless/